

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;

    *{
        color: #000;
    }
}
.partnersContent{
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 5px 5px 5px #ebebeb, -5px -5px 5px #f4f4f4;
    /* transform: translateY(-27%); */
    margin-top: -200px;
    gap: 50px;
}
.filierePartner{
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    h1 span{
        color: var(--globalColor);
    }
    p{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        span{
            font-size: .7em;
            font-weight: bold;
        }
        .redline{
            width: 600px;
            border: 2px solid red;
        }
    }
}
.filereName{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .fill{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span{
        font-size: 2.5em;
        font-weight: bold;
        color: var(--globalColor);
    }
    .redline{
        width: 300px;
        height: 1px;
        border: 1px solid red;
    }
}
.filiereItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    div{
        width: 15%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        background: #00000011;
        font-weight: bold;
        color: var(--globalColor);
        font-size: 1.2em;
    }
}

.UniPatern{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 3rem;
    width: 100%;
}
.UniPatern .AvisTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1{
        font-size: 4em;

        span{
            color: var(--globalColor);
        }
    }
    .lineRed{
        width: 500px;
        border: 2px solid red;
    }
    p{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    small{
        font-size: 1.5em;
        font-weight: bold;
    }
}
.UniPaternContent{
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.UniPaternScroll{
    display: flex;

    img{
        width: auto;
        height: 80px;
        border-radius: 10px;
        margin-left: 80px;
    }
}